In [ ]:
# Q1: Calculate the sum, difference, product, and quotient of two numbers>>>

In [1]:
a = float(input("enter a number here: "))
b =  float(input("enter a number here: "))

sum_value = a+b
diff_value = a-b
product_value = a*b
quotient_value = a/b

print("sum of entered numbers is : ", sum_value )
print("difference  of entered numbers is :", diff_value)
print("product of entered numbers is : ",product_value)
print("quotient value of enterted numbers is :",quotient_value)

enter a number here: 153
enter a number here: 100
sum of entered numbers is :  253.0
difference  of entered numbers is : 53.0
product of entered numbers is :  15300.0
quotient value of enterted numbers is : 1.53

In [ ]:
# Q2: Perform various assignment operations on a variable>>>

In [23]:
a = float(input ("enter a number here: "))
b= float(input ("enter a number here: "))

# add and assignment 
a+=b

print(a)

enter a number here: 3
enter a number here: 3
6.0

In [24]:
a = float(input ("enter a number here: "))
b= float(input ("enter a number here: "))

# subtract and assignment 
a-=b
print(a)

enter a number here: 60
enter a number here: 50
10.0

In [25]:
a = float(input ("enter a number here: "))
b= float(input ("enter a number here: "))


# multiply and assignment

a*=b

print(a)

enter a number here: 50
enter a number here: 40
2000.0

In [26]:
a = float(input ("enter a number here: "))
b= float(input ("enter a number here: "))


# divide and asassignment 

a/=b

print(a)

enter a number here: 675
enter a number here: 43
15.69767441860465

In [27]:
a = float(input ("enter a number here: "))
b= float(input ("enter a number here: "))


#modules and assignments 

a%=b
print(a)

enter a number here: 67
enter a number here: 56
11.0

In [ ]:
#Q3: Compare two numbers and print the results>>>

In [36]:
num1 = float(input("enter a number here: "))
num2 = float(input("enter a number here: "))

if num1==num2:
    print("both values are equal" )
elif num1>num2:
    print("first one is greater then 2nd one")
else :
    print("first one is less than 2nd one ")

enter a number here: 65
enter a number here: 65
both values are equal

In [ ]:
#Q4:Check conditions using logical operators>>>

In [44]:
#  and operators

a = 2
b = 3

a*b==7 and a+b ==5

False

In [41]:
a = 2
b = 3

a*b==6 and a+b==5

True

In [45]:
4+4 == 0 and 4-4 ==0

False

In [46]:
# or operators

5+5 ==10 or 5-4==9

True

In [67]:
# not operators 

5+5 != 9

True

In [70]:
a = 30
b = 20
a-b !=10

False

In [ ]:
#Q5 : Check the identity of variables>>>

In [ ]:
#q6:Perform bitwise operations on any two integers>>>

In [71]:
bin(18 * 3)

'0b110110'

In [72]:
bin(18)

'0b10010'

In [73]:
bin(3)

'0b11'

In [75]:
name = "pallabi"
age = 23
print(f"hello, my name is {name} and i'm {age} years old")

hello, my name is pallabi and i'm 23 years old